<div class="jumbotron" style="background: url(https://joinblair.com/img/header-work1.92611d19.svg); height: 800px; background-repeat: no-repeat; background-position: center; background-position-y: -135px;">
  <div class="container">
    <h1 class="display-3" style="margin-top: 70px; color: #999;">KimGelio nedir?</h1>
    <br> <br>
    <p style="width: 43%;font-weight: 100; font-size: 21px;">Etkinlik planlaması tabanlı bir uygulamadır. Kullanıcılar sistem üzerinden etkinlik oluşturup, etkinliklere katılabilirler. Kontenjanı dolmayan etkinliklere kişi veya kişileri kabul etme / çağırma üzerine dayalıdır. Etkinlik planlayıcı kişiler, katılımcı konusunda yetersiz olduğu yerlerde sistem üzerinden aktif katılımcı çağrısı duyurusunda bulunur ve etkinliğe gelmek isteyen kişiler katılmak istediği etkinliğe katılma isteği gönderirler ve etkinlik planlayıcısı kişinin onayı sonrasında etkinliğe katılma hakkı elde eder.</p>
    <p><a class="btn btn-primary btn-lg" href="<%= events_path %>" role="button">Etkinliklere Gözat</a></p>
  </div>
</div>